doctype
html
  head
    title Lagom
    meta(charset="utf-8", name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='assets/css/main.css')
    
    
  body
    //Banner
    section(id="banner")
        h2 <strong>Lagom</strong> is a language services company

    //One
    section(id="one", class="wrapper special")
        div(class="inner")
            header(class="major")
                h2 Translation and Professional Writing Services
                div(class="features")
                    div(class="feature")
                        i(class="fa fa-comments")
                        h3 About Amanda Milroy
                        p Amanda Milroy is an experienced translator and technical writer.

                    div(class="feature")
                        i(class="fa fa-language")
                        h3 Translation Services
                        p Document translation into English, French and Spanish.

                    div(class="feature")
                        i(class="fa fa-briefcase")
                        h3 Professional Writing
                        p Helping to improve your important business documents.

                    div(class="feature")
                        i(class="fa fa-envelope-o")
                        h3 Contact
                        p Call or email for a quote.

    //Two
    section(id="two", class="wrapper style2 special")
        div(class="inner narrow")
            header
                h2 Get in touch
                form(class="grid-form", method="post", action="#")
                    div(class="form-control narrow")
                        label(for="name") Name
                        input(name="name", id="name", type="text")

                    div(class="form-control narrow")
                        label(for="email") Email
                        input(name="email", id="email", type="email")

                    div(class="form-control")
                        label(for="message") Message
                        textarea(name="message", id="message", rows="4")

                    ul(class="actions")
                        li
                            input(value="Send Message", type="submit")
    //Footer
    footer(id="footer")
        div(class="copyright") &copy; Lagom. Design: 
            a(href="http://templated.co/") TEMPLATED

    //Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    script(src="assets/js/main.js")